label {
    width: 100%;
}

.wrapper-search__tabbar {
  margin: 40px 60px;
}

.input-search {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 20px;
  margin: 0 10px;
}

.wrapper-input-search {
  display: flex;
  border: 1px solid black;
  flex-direction: row-reverse;
  border-radius: 20px;
  outline: none;
  width: 100%;
  justify-content: flex-start;
}

.icon-input-search {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
}

.input-search:focus + .icon-input-search {
  display: none;
}

.mt-5 {
    margin-top: 20px;
}

.cursor-pointer {
  cursor: pointer;
}


